<%-include("header") -%>

<h2>This is the about page</h2>
<p>e server is running on port 3000
  { newItem: 'dsgghdf', list: 'Work List' }
  { newItem: 'fdfgd', list: 'Friday, September 27' }
  [nodemon] restarting due to changes...
  [nodemon] starting `node app.js`
  The server is running on port 3000
  [nodemon] restarting due to changes...
  [nodemon] starting `node app.js`
  The server is running on port 3000
  [nodemon] restarting due to changes...
  [nodemon] starting `node app.js`
  The server is running on port 3000</p>

  <%-include("footer") -%>